body{
    background-color: rgb(0, 110, 255);
}
img{
    width: 100px;
    height: 100px ;
    border-radius: 100%;
    background-color: white;
    border: 2px solid rgb(0, 110, 255);
    margin-top: 20px;

}
::placeholder{
    
    font-size: 25px;
}

form{
    text-align: center;
    background-color: white;
    margin: 60px 25%;
    border-radius: 10px;
    
}
input{
    padding: 5px;
    width: 250px;
    height: 30px;
    border-radius: 4px;
    border-color:rgb(0, 110, 255);
    border-style: solid;
}
.krab{
    box-shadow: 1px 1px 5px black;
    border-style: solid;
    border-radius: 7px;
    width: 130px;
    height: 50px ;
    font-size: 25px;
    background-color: rgb(0, 110, 255);
    color: white;
}

.rew{
    font-size: 15px;
    height: 30px;
    width: 30px;
    text-align: left;
    color: gray;
}